<strong>Olá, {{ student }}</strong>
<p>Seu pedido de auxílio foi respondido. </p>
<p>Segue abaixo o descritivo do pedido de auxílio.</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br />
  <strong>Responsta: </strong>{{ answer }} <br />
  <strong>Data/Resposta: </strong>{{ dateAnswer }} <br />
  <br />
  <small>
    Qualquer duvida contatar um de nossos administradores.
  </small>
</p>