<strong>Olá, {{ student }}</strong>
<p>Sua matricula foi confirmada com sucesso. </p>
<p>Obrigado por confiar em nós, para ajudar a melhorar sua qualidade de vida. </p>
<p>Segue abaixo o descritivo da matricula.</p>
<p>
  <strong>Plano: </strong>{{ plan }} <br />
  <strong>Data/Termino: </strong>{{ date }} <br />
  <strong>Preço: </strong>{{ price }} <br />
  <br />
  <small>
    Qualquer duvida contatar um de nossos administradores.
  </small>
</p>